<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %}
  
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700|Source+Sans+Pro:300italic,600|Source+Code+Pro:500" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700|rce+Sans+Pro:300italic,600|Source+Code+Pro:500"></noscript>
  
  <style>
    {% capture include_to_scssify %}
      {% include styles/critical.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  <link rel="preload" href="{{ "/assets/styles/main.css" | prepend: site.baseurl }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/assets/styles/main.css" | prepend: site.baseurl }}"></noscript>

  <script src="/assets/scripts/vendor/hammer.js"></script>
</head>
