<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '54538f6c8bfdf727ed0033b1');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = '/assets/scripts/vendor/gauges.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script src="https://js.heft.io/script.js" id="heft" data-heft="example"></script>
