<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '54538f6c8bfdf727ed0033b1');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = '/assets/scripts/vendor/gauges.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script>
  if (fetch) {
    fetch(
      'https://6rbd13hyh7.execute-api.us-east-1.amazonaws.com/dev/track',
      {
        method: "POST",
        body: JSON.stringify(
          {
            agent: navigator.userAgent,
            date: new Date().getTime(),
            name: document.title,
            url: location.href,
            website: '1d0407dd-9750-4b8e-a3e6-1f853487aa2d'
          }
        ),
        headers: new Headers(
          {
            "Content-Type": "application/json"
          }
        )
      }
    )
  }
</script>
