html body {
  background-color: #F9F9F9;
}

.about-teaser {
  width: 100%;
  height: 100%;
  position: absolute;

  .about-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;

    a {
      position: absolute;
      background-color: white;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: block;
      border-radius: 50%;
      opacity: .7;
      transition: opacity .2s linear;
      top: 45%;

      &:hover {
        opacity: .9;
        text-decoration: none;
      }
    }

    a[data-move="1"] {
      float: right;
      margin-right: 22px;
      right: 0;
    }

    a[data-move="-1"] {
      margin-left: 22px;
    }

    @media (max-width: 460px) {
      a[data-move="-1"] {
        margin-left: 12px;
      }

      a[data-move="1"] {
        margin-right: 12px;
      }
    }

    &[data-position="0"] a[data-move="-1"], &[data-position="5"] a[data-move="1"] {
      opacity: 0.3;
    }
  }

  .about-tagline {
    z-index: 10;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px 5px 20px;
    margin: 0;
    box-sizing: border-box;

    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul {
      float: right;
      height: 28px;
    }

    li {
      float: left;
      padding: 0 10px;

      &:last-child {
        padding-right: 0;
      }
    }

    a {
      svg {
        width: 28px;
        height: 28px;
        opacity: 0.6;

        path {
          fill: white;
        }
      }

      &:hover {
        svg {
          opacity: 0.8;
        }
      }
    }



    h2 {
      padding: 0;
      margin: 0;
      font-size: 20px;
      color: #E9E9E9;
    }
  }

  .about-images {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;

    ul {
      width: 100%;
      height: 100%;
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      position: relative;

      .about-image {
        background-size: cover;
        background-repeat: no-repeat;
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;

        &.init {
          transition: transform .3s ease-in-out;
        }

        &[data-image="01"] {
          left: 0;
          background-image: url(/assets/images/sbstjn/01.jpg);
        }

        &[data-image="02"] {
          left: 100%;
          background-image: url(/assets/images/sbstjn/02.jpg);
        }

        &[data-image="03"] {
          left: 200%;
          background-image: url(/assets/images/sbstjn/03.jpg);
        }

        &[data-image="04"] {
          left: 300%;
          background-image: url(/assets/images/sbstjn/04.jpg);
        }

        &[data-image="05"] {
          left: 400%;
          background-image: url(/assets/images/sbstjn/05.jpg);
        }

        &[data-image="06"] {
          left: 500%;
          background-image: url(/assets/images/sbstjn/06.jpg);
        }

        &[data-image="01"] {
          background-position: -100px center;

          @media (min-width: 640px) {
            background-position: left center;
          }
        }

        &[data-image="02"], &[data-image="04"], &[data-image="05"] {
          background-position: center center;
        }

        &[data-image="03"], &[data-image="06"] {
          background-position: right center;
        }
      }
    }
  }
}

.about-content {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 14px 20px 12px 20px;
  margin: 0;
  box-sizing: border-box;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $on-palm) {
    font-size: 22px;
  }

  @media (min-width: $content-maxwidth + 2*40px) {
    padding: 56px 40px 48px 40px;
    font-size: 24px;
  }

  @media (min-width: 1000px) {
    padding: 56px 40px 48px 40px;
    font-size: 24px;
  }

  footer {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding-top: 34px;
    font-size: 12px;
    color: #BBB;
    padding-bottom: 30px;

    a {
      color: #FCDC9F;
    }
  }
}
