body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 3px;
  display: block
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

a, img {
  outline: none;
}

.wrapper {
  max-width: $content-maxwidth;
  margin: 0 auto;
  @extend %clearfix;
}

.wrapper-responive {
	-webkit-transition: all .2s ease-in;
	width: 100%;
	max-width: 100%;
  margin: 0 auto;
  @extend %clearfix;
	
	&.fix {
		max-width: $content-maxwidth;
	}
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.section-divider {
	max-width: 700px;
	margin: 0 auto;
	
	hr {
    margin-top: 52px;
    margin-bottom: 32px;
    display: block;
    border: 0;
    text-align: center;
	}
	
	hr.section-divider:before {
	    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	    font-weight: 400;
	    font-style: italic;
	    font-size: 28px;
	    letter-spacing: .5em;
	    content: '...';
	    display: inline-block;
	    margin-left: .6em;
	    color: rgba(0,0,0,.4);
	    position: relative;
	    top: -20px;
	}
}

.section-divider-with-comments {
	hr {
		margin-bottom: 0px;
	}
}