.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  position: relative;

  .site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &, &:visited {
        color: $grey-color-dark;
    }
  }

  .site-navigation {
    margin: 0;
    padding: 0;
    float: right;

    li {
      display: inline;
      list-style-type: none;
      padding: 0;

      a {
        font-size: 22px;
        font-weight: 300;
        line-height: 56px;
        padding: 0 6px
      }
    }

    li:last-child {
      a {
        padding-right: 0;
      }
    }

    li.active {
      a {
        color: #000;
      }
    }
  }
}

.site-footer {
  border-top: 1px solid #DDD;

  ul {
    margin-bottom: 0;
  }
}


.page-content {
    padding: $spacing-unit*2 0;
}
