.post-header {
  margin-bottom: $spacing-unit;
  text-align: center;
	
	padding: 0 30px;
	
	@media (min-width: $content-maxwidth + 2*40px) {
		padding: 0 60px;
	}

  .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.4;
    margin-bottom: 20px;

    @include media-query($on-laptop) {
      font-size: 36px;
      line-height: 1.2;
    }
  }

  .post-meta {
    font-size: 15px;
    color: $grey-color;
  }
}

.post-teaser {
	.about-tagline {
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
	}
}

.post-content {
	padding: 112px 20px 12px 20px;
	
  @media (min-width: $content-maxwidth + 2*40px) {
    padding: 140px 40px 12px 40px;
    font-size: 24px;
  }
	
	
	/*
  padding: 14px 20px 12px 20px;
  margin: 0;
  box-sizing: border-box;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $on-palm) {
    font-size: 22px;
  }

  @media (min-width: $content-maxwidth + 2*40px) {
    padding: 56px 40px 12px 40px;
    font-size: 24px;
  }

  @media (min-width: 1000px) {
    padding: 56px 40px 12px 40px;
    font-size: 24px;
  } */
	
	blockquote {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: italic;
    font-size: 27px;
    margin-left: -1.75px;
    line-height: 1.7;
    letter-spacing: -.014em;
    color: rgba(0,0,0,.6);
    border: none;
    padding: 24px 20px 24px 50px;
    text-align: left;
	}
	
	pre.highlight {
		code {
			font-family: 'Source Code Pro', ;
			font-weight: 500;
		}
		
    background-color: rgba(0, 0, 0, 0.0470588);
    padding: 14px 16px;
		line-height: 22px;
		overflow: scroll;
		font-size: 15px;
		border-radius: 3px;
	}
}