.post-header {
  margin-bottom: $spacing-unit;
  text-align: center;
  padding: 0 60px;

  .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.4;
    margin-bottom: 20px;

    @include media-query($on-laptop) {
      font-size: 36px;
      line-height: 1.2;
    }
  }

  .post-meta {
    font-size: 15px;
    color: $grey-color;
  }
}

.post-content {
  & {
    padding-top: 30px;
    margin-bottom: 0;
    text-align: justify;
  }

  p code.highlighter-rouge {
    font-size: 19px;
    font-weight: 300;
    position: relative;
    padding: 2px 4px 2px 4px;
    top: -1px;
    background-color: #E4EBF6;
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
