<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="about-teaser">
      <div class="about-slider" data-position="0">
        <a href="#prev" data-move="-1">&laquo;</a>
        <a href="#next" data-move="1">&raquo;</a>
      </div>
      <div class="about-images">
        <ul>
          <li class="about-image" data-image="01"></li>
          <li class="about-image" data-image="02"></li>
          <li class="about-image" data-image="03"></li>
          <li class="about-image" data-image="04"></li>
          <li class="about-image" data-image="05"></li>
          <li class="about-image" data-image="06"></li>
        </ul>
      </div>

      {% include about.tagline.html label="Sebastian Müller" %}
    </div>

    <div class="about-content">
      <div class="wrapper">
        <p>
          Team Lead and Software Engineer living in Hamburg, Germany. Daytime
          <a href="https://www.linkedin.com/in/sbstjn" target="_blank">
            Flight Captain at <strong>Jimdo</strong>
          </a> and passionate about Software, Design, People and vegan Food.
        </p>
        <p>
          After 16 years of creating websites I still enjoy most parts of
          developing and designing for the web. You can find some selected
          projects on <a href="https://github.com/sbstjn" target="_blank">GitHub</a>, for
          example <a href="https://github.com/sbstjn/timesheet.js" target="_blank">Timesheet.js</a>
          with nearly six thousand stars.
        </p>
        <p>
          Before working at <a href="http://jimdo.com" target="_blank">Jimdo</a>, I was delighted to work as a <strong>Senior Web Developer</strong>
          for <a href="http://elephant-seven.com" target="_blank">Elephant Seven</a> in Hamburg, <strong>Creative Technologist</strong>
          at the <a href="http://intuity.de" target="_blank">Intuity Media Lab</a> in Hamburg and Stuttart, and
          as <strong>Lead Developer and Scrum Master</strong> for <a href="http://roamsys.com" target="_blank">Roamsys</a> in Trier.
        </p>
        <p>
          My passion for sharing thoughts and spreading knowledge has been
          strengthened with building up <strong>MACNOTES</strong> back in
          2006 untill we sold the project some years later&nbsp;…
        </p>
      </div>
      
      <div class="section-divider">
        <hr class="section-divider" />
      </div>
      
      <div class="wrapper article-list">
        <ul>
          {% for post in site.posts %}
            <li>
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.excerpt }}
              <small>{{ post.content | number_of_words }} words, posted on {{ post.date | date: '%B %-d' }}</small>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% include footer.html %}
    </div>

    {% include tracking.html %}
  </body>
</html>
