---
layout: default
---

<div class="post-teaser">
  {% include about.tagline.html url="https://sbstjn.com" label="Sebastian Müller" isHeadline=false %}
</div>
<div class="post-content">
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header manifesto-header">
        <h1 class="post-title" itemprop="name headline">Manifesto</h1>
        <p class="post-meta">
          Sebastian Müller,<br />
            Development Team Lead at Jimdo<br />
            <br />

          <time>September 2016</time>
        </p>

      </header>

      <div itemprop="articleBody">
        {{ content }}
      </div>

    </article>
  </div>

  <div class="section-divider">
    <hr class="section-divider" />
  </div>

  {% include footer.html %}
</div>
