---
layout: default
---

<div class="post-teaser">
  {% include about.tagline.html label="sbstjn.com/work" url="https://sbstjn.com/work" isHeadline=false unfixable=true %}
</div>
<div class="post-content work-content">
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <img src="/assets/images/sbstjn/work.jpg" />
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
          Flight Captain at Jimdo,<br />
          Team Lead &amp; Software Engineer in Hamburg,&nbsp;Germany.
        </p>
      </header>

      <div id="buzzwords">

        <section class="buzzwords">
          <ul>
            <li class="headline">Buzzwords:</li>
            <li>Kaizen</li>
            <li>Kanban</li>
            <li>Scrum</li>
            <li>Feedback</li>
            <li>Mentoring</li>
          </ul>
        </section>

        <section class="buzzwords">
          <ul>
            <li>Go</li>
            <li>NodeJS</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Objective-C</li>
            <li>TDD</li>
          </ul>
        </section>

        <section class="buzzwords">
          <ul>
            <li>Docker</li>
            <li>CI</li>
            <li>SQL</li>
            <li>MongoDB</li>
            <li>DynamoDB</li>
            <li>Redis</li>
            <li>AWS</li>
            <li>Serverless</li>
          </ul>
        </section>
      </div>

      <div class="section-divider">
        <hr class="section-divider" />
      </div>

      <div id="personality">
        <p>
          I love building projects around motivated individuals and to provide my team with an environment
          they need to grow, evolve, and to create the best possible results. Being a Team Lead my
          success is measured by the success of my team and all its members. I enjoy providing technical guidance
          and support in the process of planning and decision making. To ensure my team's priorities are reflected
          within the product roadmap I work closely with product managers to plan the next steps for my
          team, the product, and the company.
        </p>
        <p>
          Beside working with the latest technology, I enjoy to communicate, work and empathize with a diverse
          range of personalities with disparate backgrounds.
        </p>
        <p>
          Kaizen and ongoing, regular, and informal feedback are important core values I believe in: No
          matter how good I already am, I can always get better and I do believe in the power of small
          improvements.
        <p>
      </div>

      <div class="section-divider">
        <hr class="section-divider" />
      </div>

      <div itemprop="articleBody">
        {{ content }}
      </div>

    </article>
  </div>

  {% include footer.html %}
</div>
