---
layout: default
---

<div class="post-teaser">
  {% include about.tagline.html label="sbstjn.com/work" url="https://sbstjn.com/work" isHeadline=false unfixable=true %}
</div>
<div class="post-content work-content">
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <img src="/assets/images/sbstjn/work.jpg" />
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
          Development Team Lead at Jimdo,<br />
          Team Lead &amp; Software Engineer in Hamburg,&nbsp;Germany.
        </p>
      </header>

      <div id="buzzwords">

        <section class="buzzwords">
          <ul>
            <li class="headline">Buzzwords:</li>
            <li>Kaizen</li>
            <li>Kanban</li>
            <li>Scrum</li>
            <li>Feedback</li>
            <li>Mentoring</li>
          </ul>
        </section>

        <section class="buzzwords">
          <ul>
            <li>Go</li>
            <li>NodeJS</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Objective-C</li>
            <li>TDD</li>
          </ul>
        </section>

        <section class="buzzwords">
          <ul>
            <li>Docker</li>
            <li>CI</li>
            <li>SQL</li>
            <li>MongoDB</li>
            <li>DynamoDB</li>
            <li>Redis</li>
            <li>AWS</li>
            <li>Serverless</li>
          </ul>
        </section>
      </div>

      <div class="section-divider">
        <hr class="section-divider" />
      </div>

      {{ content }}

    </article>
  </div>
</div>
