---
layout: default
---

<div class="post-teaser">
  {% include about.tagline.html label="sbstjn.com/work" url="https://sbstjn.com/work" isHeadline=false unfixable=true %}
</div>
<div class="post-content work-content">
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <img src="/assets/images/sbstjn/work.jpg" />
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <a href="tel:+4915154649055">+49 151 54649055</a> // <a href="mailto:work@sbstjn.com">work@sbstjn.com</a>
          </p>
        <p class="post-meta">
          Development Team Lead at Jimdo,<br />
          Team Lead &amp; Software Engineer in Hamburg,&nbsp;Germany.
        </p>
      </header>

      <div id="buzzwords">

        <section class="buzzwords">
          <ul>
            <li class="headline">Buzzwords:</li>
            <li>Leadership</li>
            <li>Mentoring</li>
            <li>Kaizen</li>
            <li>Agile</li>
            <li>Scrum</li>
          </ul>
        </section>

        <section class="buzzwords">
          <ul>
            <li>Go</li>
            <li>NodeJS</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>TypeScript</li>
            <li>React</li>
          </ul>
        </section>

        <section class="buzzwords">
          <ul>
            <li>Serverless</li>
            <li>AWS</li>
            <li>Docker</li>
            <li>CI/CD</li>
            <li>TDD</li>
            <li>MongoDB</li>
            <li>SQL</li>
          </ul>
        </section>

        <section class="buzzwords">
            <ul>
              <li>Event Sourcing</li>
              <li>CQRS</li>
              <li>Domain-Driven Design</li>
              <li>MVPs</li>
            </ul>
          </section>
      </div>

      <div class="section-divider">
        <hr class="section-divider" />
      </div>

      <div id="personality">
        {{ content }}
      </div>

      <div class="section-divider">
        <hr class="section-divider" />
      </div>

      <a class="button" href="https://docs.google.com/document/d/1efYvg_RNoP7AIGyicMFbHXJfvhbHZ5Yb-GF_d-eCy9k/edit">Show Resume</a>
      <span class="button-info">Access using Google Docs or <a href="https://docs.google.com/document/export?format=pdf&id=1efYvg_RNoP7AIGyicMFbHXJfvhbHZ5Yb-GF_d-eCy9k">download PDF</a>.</span>

      <div style="margin-top: 100px;"></div>

    </article>
  </div>
</div>
